
	* {
  		margin: 0;
  		padding: 0;
  		box-sizing: border-box;
  	}
  	.services-section {
  		position: absolute;
		background: #dbdbdb;
  		background-size: cover;
  		padding: 84px 0 0px 0;
		left: 0;
		right:0;
		margin: 0 auto; 
		z-index:-1;
		
  	}
  	.inner-width {
  		width: 100%;
  		max-width: 1920px;
  		margin: auto;
  		padding: 0 20px;
  		overflow: hidden;
  	}
  	.section-title {
  		text-align: center;
  		color: #575757;
  		text-transform: uppercase;
  		font-size: 30px;
  	}
  	.border {
  		width: 160px;
  		height: 2px;
  		background: #82ccdd;
  		margin: 40px auto;
  	}
  	.services-container {
  		display: flex;
  		flex-wrap: wrap;
  		justify-content: center;
  	}
  	.service-box {
  		max-width: 33.33%;
  		padding: 10px;
  		text-align: center;
  		color: #ddd;
  		cursor: pointer;
  	}
  	.service-icon {
  		display: inline-block;
  		width: 70px;
  		height: 70px;
  		border: 3px solid #82ccdd;
  		color: #82ccdd;
  		transform: rotate(45deg);
  		margin-bottom: 30px;
  		margin-top: 16px;
  		transition: 0.3s linear;
  	}
  	.service-icon i {
  		line-height: 70px;
  		transform: rotate(-45deg);
  		font-size: 26px;
  	}
  	.service-box:hover .service-icon {
  		background: #82ccdd;
  		color: #ddd;
  	}
  	.service-title {
  		font-size: 18px;
  		text-transform: uppercase;
		color: #575757;
  		margin-bottom: 10px;
  	}
  	.service-desc {
  		font-size: 14px;
		color: #575757;
		
  	}
	.fa {
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-font-smoothing: antialiased;
	  display: inline-block;
	  font-style: normal;
	  font-variant: normal;
	  text-rendering: auto;
	  line-height: 1; }
  
	  @media screen and (max-width: 960px) {
  		.service-box {
  			max-width: 45%;
  		}
  	}
  	@media screen and (max-width: 768px) {
  		.service-box {
  			max-width: 50%;
  		}
  	}
  	@media screen and (max-width: 480px) {
  		.service-box {
  			max-width: 100%;
  		}
  	}


/* 切片部分 */
	
	
body {
  margin: 0;
  padding: 0; }

ul.stacks {

  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
   }

ul.stacks li {
  background-color: #ccc;
  flex: 1;
  overflow: hidden;
  position: relative; }

ul.stacks li::after {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: url(img/1.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0; }

ul.stacks:hover li {
  transform: translatey(-100vh); }

ul.stacks li {
  transition: 3s transform ease-in-out; }
  ul.stacks li:nth-child(1) {
    transition-delay: calc(1 * .04s); }
    ul.stacks li:nth-child(1)::after {
      left: calc(0 * -10vw); }
  ul.stacks li:nth-child(2) {
    transition-delay: calc(2 * .04s); }
    ul.stacks li:nth-child(2)::after {
      left: calc(1 * -10vw); }
  ul.stacks li:nth-child(3) {
    transition-delay: calc(3 * .04s); }
    ul.stacks li:nth-child(3)::after {
      left: calc(2 * -10vw); }
  ul.stacks li:nth-child(4) {
    transition-delay: calc(4 * .04s); }
    ul.stacks li:nth-child(4)::after {
      left: calc(3 * -10vw); }
  ul.stacks li:nth-child(5) {
    transition-delay: calc(5 * .04s); }
    ul.stacks li:nth-child(5)::after {
      left: calc(4 * -10vw); }
  ul.stacks li:nth-child(6) {
    transition-delay: calc(6 * .04s); }
    ul.stacks li:nth-child(6)::after {
      left: calc(5 * -10vw); }
  ul.stacks li:nth-child(7) {
    transition-delay: calc(7 * .04s); }
    ul.stacks li:nth-child(7)::after {
      left: calc(6 * -10vw); }
  ul.stacks li:nth-child(8) {
    transition-delay: calc(8 * .04s); }
    ul.stacks li:nth-child(8)::after {
      left: calc(7 * -10vw); }
  ul.stacks li:nth-child(9) {
    transition-delay: calc(9 * .04s); }
    ul.stacks li:nth-child(9)::after {
      left: calc(8 * -10vw); }
  ul.stacks li:nth-child(10) {
    transition-delay: calc(10 * .04s); }
    ul.stacks li:nth-child(10)::after {
      left: calc(9 * -10vw); }


.bar {
		position: static;
		background: #FFFFFF;
	    width: 100%;
	    height: 57px;
	    display: flex;
	    min-width: 992px;
		z-index: auto;
}

.bar nav{
	display: flex;
    width: 100%;
    padding: 0px 20px;
}

.bar nav ul {
	display: flex;
   align-items: center;
    margin-bottom: 0px;
    padding: 0px;
}


.bar nav ul li{
	
		height: 20px;
	    line-height: 20px;
	    margin-right: 20px;
	    list-style: none;
}




.bar  nav ul li a{
	font-family: PingFangSC-Regular, sans-serif;
	font-size: 20px;
	color: #262626;
	text-align:center;
	box-sizing: border-box;
	margin:0 20px;
	text-decoration:none;
	}


body {
	
	
	justify-content: center;
	align-items: center;
	min-height:  100vh;
}

ul.slides{
	position:relative;
	width: 100%;
	height: 360px;
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: gray;
	overflow: hidden; 
}

li.slide {
	margin: 0;
	padding: 0;
	width: inherit;
	 height: inherit;
	 position: absolute;
	 top: 0;
	 left: 0;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 font-family: helvetica;
	 font-size: 120px;
	 color: #fff;
	 transition: .5s transform ease-in-out;
	
}

.slide:nth-of-type(1){background-color: #F2E205;}
.slide:nth-of-type(2){background-color: #F25C05; left: 100%;}
.slide:nth-of-type(3){background-color: #495F8C; left: 200%;}  

input[type="radio"] {
	position: relative;
	z-index: 100;
	display: none;
} 

.control-visible {
	position: absolute;
	width: 100%;
	bottom: 12px;
	 text-align: center;
}

.control-visible label {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 3px;
	border: 2px solid #7c7c7c;
}

.slides input[type="radio"]:nth-of-type(1):checked ~
	.control-visible label:nth-of-type(1) {
		background-color: #333;
	}

.slides input[type="radio"]:nth-of-type(2):checked ~
	.control-visible label:nth-of-type(2) {
		background-color: #333;
	}

.slides input[type="radio"]:nth-of-type(3):checked ~
	.control-visible label:nth-of-type(3) {
		background-color: #333;
	}

.slides input[type="radio"]:nth-of-type(1):checked ~
	.slide {
		transform: translateX(0%);
	}
	
.slides input[type="radio"]:nth-of-type(2):checked ~
	.slide {
		transform: translateX(-100%);
	}

.slides input[type="radio"]:nth-of-type(3):checked ~
	.slide {
		transform: translateX(-200%);
	}	